// Style.scss
// Option A: Include all of Bootstrap

.container-fluid {
  overflow:hidden;
}

.hero--image {
  width: 100%;
  height: 50vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &[data-image-key=hero001] {
    background-image: url("../img/hero-001.jpg");
  }
  &[data-image-key=hero002] {
    background-image: url("../img/hero-002.jpg");
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "slick";
@import "card";
